In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

Ans1-

In [2]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.
Ans2-

In [3]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.
Ans3-

In [6]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female','Male','Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  claire   27  Female

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
Ans4-

In [ ]:
In Pandas, a DataFrame is a two-dimensional labeled data structure that consists of columns, rows, and an index. 
It can be thought of as a table or a spreadsheet-like data structure where data is organized in a tabular format. 
The DataFrame is one of the primary data structures provided by the Pandas library and is incredibly versatile for data manipulation and 
analysis tasks.

On the other hand, a pandas Series is a one-dimensional labeled array-like object. It is similar to a column in a DataFrame or a single 
column of data. A Series can hold any data type and is labeled with an index. It can be seen as a single column of data, with labels for 
each entry in the column.

now, example of :

In [8]:
import pandas as pd

# Creating a Series
s = pd.Series([1, 2, 3, 4, 5])
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
#DataFrame using multiple Series:
df = pd.DataFrame({'Column 1': [1, 2, 3, 4, 5],
                   'Column 2': ['A', 'B', 'C', 'D', 'E']})
print(df)

   Column 1 Column 2
0         1        A
1         2        B
2         3        C
3         4        D
4         5        E

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Ans5-

In [ ]:
Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some common functions and their potential use cases:

1. **head()**: Returns the first n rows of the DataFrame. It is useful for quickly inspecting the structure and contents of a DataFrame.

```python
df.head(5)  # Returns the first 5 rows of the DataFrame
```

2. **tail()**: Returns the last n rows of the DataFrame. It is helpful for checking the last few records in a dataset.

```python
df.tail(3)  # Returns the last 3 rows of the DataFrame
```

3. **info()**: Provides a summary of the DataFrame, including the data types, column names, and number of non-null values.
It is useful for understanding the overall structure and data quality of a DataFrame.

```python
df.info()  # Displays the summary information of the DataFrame
```

4. **describe()**: Generates descriptive statistics of the DataFrame, such as count, mean, standard deviation, minimum, and maximum values. 
It helps in obtaining insights into the distribution and statistical properties of the data.

```python
df.describe()  # Computes summary statistics of the DataFrame
```

5. **shape**: Returns the dimensions (rows, columns) of the DataFrame as a tuple. It is handy for quickly checking the size of the DataFrame.

```python
df.shape  # Returns the dimensions of the DataFrame
```

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Ans6-

In [ ]:
In the pandas library, both Series and DataFrame are mutable, while Panel is not mutable. 

A Series is a one-dimensional labeled array capable of holding any data type, similar to a column in a spreadsheet or a SQL table. 
You can modify the values in a Series by assigning new values to specific indices.

A DataFrame is a two-dimensional labeled data structure with columns of potentially different data types. 
It can be thought of as a table or a spreadsheet. Similar to a Series, you can modify the values in a DataFrame by assigning new values to 
specific cells, rows, or columns.

On the other hand, a Panel is a three-dimensional data structure in pandas that can be thought of as a container for multiple DataFrames. 
It is generally used when you have heterogeneous data and need to perform operations on different dimensions. However, the Panel object is 
considered deprecated, and it is recommended to use multi-indexing with a DataFrame instead. Since it is deprecated, it is not mutable.

To summarize, both Series and DataFrame are mutable, while Panel is not.

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.
Ans7-

In [11]:
import pandas as pd


names = pd.Series(['Ajit', 'Rahul', 'Ankur', 'Rajat'])


ages = pd.Series([25, 32, 47, 18])


cities = pd.Series(['Varanasi', 'Haryana', 'Gorakhpur', 'Mirzapur'])


df = pd.DataFrame({'Name': names, 'Age': ages, 'City': cities})


print(df)

    Name  Age       City
0   Ajit   25   Varanasi
1  Rahul   32    Haryana
2  Ankur   47  Gorakhpur
3  Rajat   18   Mirzapur